<div class="container">
  <div class="goals">
    <p>Rate todays mood!</p>

    <div class="card-goals"></div>
  </div>
  <div class="current-goal">
    <p>Select todays stress level:</p>
    <div class="card-current-goal"></div>
  </div>
  <div class="practice">
    @if (!practiceDescription) {
    <label for="practiceDescription">What did you to practice your skills?</label>

    <textarea
      *ngIf="!practiceDescription"
      #practiceDescription
      id="practiceDescription"
      [value]="practiceInputValue"
      (keydown.enter)="onEnterPractice(practiceDescription.value)"
      rows="6"
      cols="30"
      placeholder="I started working on a new web app. I fixed some electronics..."
    ></textarea>

    }@else {
    <div class="text-desc">
      <h3>How I practiced:</h3>
      <p>{{ practiceDescription }}</p>
    </div>
    }
  </div>

  <div class="learn">
    @if (!newLearned) {
    <label for="newLearned">Did you learn something new?</label>

    <textarea
      *ngIf="!newLearned"
      #newLearned
      id="newLearned"
      [value]="newLearnedInputValue"
      (keydown.enter)="onEnterLearned(newLearned.value)"
      rows="6"
      cols="30"
      placeholder="I learned how to center a div. I learned how black holes are created..."
    ></textarea>

    }@else {
    <div class="text-desc">
      <h3>What I Learned:</h3>
      <p>{{ newLearned }}</p>
    </div>
    }
  </div>
</div>
