<div class="container">
  <div class="water">
    <p>Water drank: {{ glassesFull }}/8 glasses</p>

    <div class="card-water">
      @for (glass of glasses; track $index; let i = $index) {
      <button (click)="onChangeGlassesFull(i + 1)">
        <app-water-svg [isFull]="glassesFull >= i + 1"></app-water-svg>
      </button>
      }
    </div>
  </div>
  <div class="steps">
    <div class="progress-bar" [style.--progress-value]="(steps / 8000) * 100">
      <progress
        [value]="(steps / 8000) * 100"
        min="0"
        max="100"
        style="visibility: hidden; height: 0; width: 0"
      ></progress>
      <p>{{ ((steps / 8000) * 100).toFixed(0) }}%</p>
    </div>

    <div class="input-div">
      <label for="steps">Amount of steps:</label>
      <input
        type="number"
        name="steps"
        id="steps"
        [value]="steps"
        (change)="onChangeSteps($event.target.valueAsNumber)"
      />
    </div>
  </div>
  <div class="exercise">
    @if (!exerciseDescription) {
    <label for="exerciseDescription">Todays Exercises:</label>

    <textarea
      *ngIf="!exerciseDescription"
      #exerciseInput
      id="exerciseDescription"
      [value]="exerciseInputValue"
      (keydown.enter)="onEnterExercise(exerciseInput.value)"
      rows="5"
      cols="30"
      placeholder="I strechted for 10 minutes. Went to the gym..."
    ></textarea>

    }@else {
    <div class="text-desc">
      <h3>Exercises:</h3>
      <p>{{ exerciseDescription }}</p>
    </div>
    }
  </div>
  <div class="sleep">
    @if (!sleepTime) {
    <label for="sleepTime">Time slept:</label>

    <input
      type="text"
      name="sleepTime"
      id="sleepTime"
      [value]="sleepTime"
      (change)="onEnterSleepTIme($event.target.value)"
    />
    } @else {
    <div class="sleep-text">
      <p>{{ sleepTime }}</p>
      <app-sleep-svg />
    </div>
    }
  </div>
</div>
