<footer>
  <div class="footer-top">
    <div>
      <a href="#" class="logo-link"
        ><img src="/logo.webp" alt="Habit tracker logo" /> Habit Tracker</a
      >
    </div>
    <div class="div-links">
      <div>
        <h3>Quick links</h3>
        <a href="#">Home</a>
        <a routerLink="/app">App</a>
        <a href="#">Services</a>
      </div>
      <div>
        <h3>Support</h3>
        <a href="#">Contact Us</a>
        <a href="#">Online Chat</a>
        <a href="#">Help Center</a>
      </div>
      <div>
        <h3>Resources</h3>
        <a href="#">How it works</a>
        <a href="#">Business</a>
        <a href="#">Enterprise</a>
      </div>
      <div>
        <h3>Company</h3>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Career</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div>
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Legal Notice</a>
      <a href="#">Cookie Settings</a>
    </div>
    <a href="#">&#169; {{ year() }}, Habit Tracker</a>
  </div>
</footer>
