<section>
  <div class="hero">
    <div class="text-container">
      <div class="heading">
        <h1>Healthy <span class="colored">day</span>.</h1>
        <h1>Healthy <span class="colored">month</span>.</h1>
        <h1>Healthy <span class="colored">life</span>.</h1>
      </div>
      <p>
        Track your <span class="highlight highlight-1"> daily habits </span>. Remove bad ones,
        embrance the good ones and become the
        <span class="highlight highlight-2">best</span> version of yourself. One step at a time.
      </p>
    </div>
    <img src="/phone.webp" alt="Phone image" />
  </div>
  <a routerLink="app">Start tracking</a>
</section>
