@use '../../../styles.scss' as g;

h1 {
  font-family: 'Cormorant Garamond';
  font-size: clamp(g.$font-4xl, 15vw, g.$font-8xl);
  line-height: g.$line-8xl;
}

section {
  padding-top: 1rem;
  padding-bottom: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: g.$text-dark;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 1rem;
}

.colored {
  color: g.$text-accent;
}

p {
  margin-top: 3rem;
  font-size: clamp(g.$font-xl, 5vw, g.$font-2xl);
  max-width: clamp(20rem, 100%, 30rem);
  padding: 0 1.4rem;
}

a {
  margin-top: 4rem;
  font-size: g.$font-lg;
  font-weight: 700;
  color: g.$text-accent-tint;
  background-color: g.$text-accent;
  padding: 1rem 2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  outline: 1px solid g.$text-accent;
  outline-offset: -1px;
}

a:hover,
a:active {
  background-color: transparent;

  color: g.$accent-shade;
}

img {
  width: 30rem;
  height: auto;
}

@media (max-width: 1280px) {
  .hero {
    flex-direction: column;
    gap: 4rem;
  }
  img {
    width: 40rem;
  }
}
