@use '../../../../styles.scss' as g;

section {
  padding-top: 8rem;
  padding-bottom: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: g.$text-dark;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(16rem, 100%, 1400px);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2 {
  font-size: g.$font-base;
  background-color: g.$accent;
  display: inline;
  width: min-content;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  border-radius: 100px;
}

h1 {
  font-size: clamp(g.$font-2xl, 10vw, g.$font-5xl);
  line-height: g.$line-5xl;
}

.cards {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  height: 16rem;
  width: clamp(10rem, 100%, 16rem);
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-weight: 500;
  font-size: g.$font-xl;
  line-height: g.$line-xl;
  color: g.$text-dark;
}

.physical {
  background-color: rgba(g.$physical-blue, 0.3);
  border: 2px solid g.$physical-blue;
}
.mental {
  background-color: rgba(g.$mental-pink, 0.3);
  border: 2px solid g.$mental-pink;
}
.professional {
  background-color: rgba(g.$professional-gold, 0.3);
  border: 2px solid g.$professional-gold;
}
