<section>
  <div class="menu">
    <div class="controls">
      <div class="buttons">
        <button
          class="tab-btn {{ menuData.selectedMenuIndex() === 1 ? 'active' : '' }}"
          (click)="menuData.setIndex(1)"
        >
          <span class="{{ menuData.selectedMenuIndex() === 1 ? ' highlight highlight-1' : '' }}"
            >Body</span
          >
        </button>
        <button
          class="tab-btn {{ menuData.selectedMenuIndex() === 2 ? 'active' : '' }}"
          (click)="menuData.setIndex(2)"
        >
          <span class="{{ menuData.selectedMenuIndex() === 2 ? 'highlight highlight-2' : '' }}"
            >Mind</span
          >
        </button>
        <button
          class="tab-btn {{ menuData.selectedMenuIndex() === 3 ? 'active' : '' }}"
          (click)="menuData.setIndex(3)"
        >
          <span class="{{ menuData.selectedMenuIndex() === 3 ? ' highlight highlight-3' : '' }}"
            >Goals</span
          >
        </button>
      </div>
      <p-datepicker
        [(ngModel)]="menuData.dateValue"
        (onSelect)="menuData.loadDataForDate($event)"
        [showIcon]="true"
        inputId="buttondisplay"
        [showOnFocus]="true"
      ></p-datepicker>
    </div>

    <div class="tab">
      @if(menuData.selectedMenuIndex() === 1) {
      <app-body
        [glassesFull]="menuData.glassesFull()"
        [setGlassesFull]="menuData.setGlassesFull"
        [steps]="menuData.steps()"
        [setSteps]="menuData.setSteps"
        [sleepTime]="menuData.sleepTime()"
        [setSleepTime]="menuData.setSleepTime"
        [exerciseDescription]="menuData.exerciseDescription()"
        [setExerciseDescription]="menuData.setExerciseDescription"
      />
      } @if(menuData.selectedMenuIndex() === 2) {
      <app-mind
        [moodRating]="menuData.moodRating()"
        [setMoodRating]="menuData.setMoodRating"
        [restDescription]="menuData.restDescription()"
        [setRestDescription]="menuData.setRestDescription"
        [dayDescription]="menuData.dayDescription()"
        [setDayDescription]="menuData.setDayDescription"
        [stressLevel]="menuData.stressLevel()"
        [setStressLevel]="menuData.setStressLevel"
      />
      } @if(menuData.selectedMenuIndex() === 3) {
      <app-goals
        [goals]="menuData.goals()"
        [currentGoal]="menuData.currentGoal()"
        [practiceDescription]="menuData.practiceDescription()"
        [newLearned]="menuData.newLearned()"
        (goalAdded)="menuData.setGoals($event)"
        (currentGoalChanged)="menuData.setCurrentGoal($event)"
        (practiceChanged)="menuData.setPracticeDescription($event)"
        (learnedAdded)="menuData.setNewLearned($event)"
      />
      }
    </div>
  </div>
</section>
