<section>
  <div class="menu">
    <div class="controls">
      <div class="buttons">
        <button
          class="tab-btn {{ selectedMenuIndex() === 1 ? 'active' : '' }}"
          (click)="setIndex(1)"
        >
          <span class="{{ selectedMenuIndex() === 1 ? ' highlight highlight-1' : '' }}">Body</span>
        </button>
        <button
          class="tab-btn {{ selectedMenuIndex() === 2 ? 'active' : '' }}"
          (click)="setIndex(2)"
        >
          <span class="{{ selectedMenuIndex() === 2 ? 'highlight highlight-2' : '' }}">Mind</span>
        </button>
        <button
          class="tab-btn {{ selectedMenuIndex() === 3 ? 'active' : '' }}"
          (click)="setIndex(3)"
        >
          <span class="{{ selectedMenuIndex() === 3 ? ' highlight highlight-3' : '' }}">Goals</span>
        </button>
      </div>
      <p-datepicker
        [(ngModel)]="dateValue"
        [showIcon]="true"
        inputId="buttondisplay"
        [showOnFocus]="true"
      />
    </div>

    <div class="tab">
      @if(selectedMenuIndex() === 1) {
      <app-body
        [glassesFull]="glassesFull()"
        [setGlassesFull]="setGlassesFull"
        [steps]="steps()"
        [setSteps]="setSteps"
        [sleepTime]="sleepTime()"
        [setSleepTime]="setSleepTime"
        [exerciseDescription]="exerciseDescription()"
        [setExerciseDescription]="setExerciseDescription"
      />
      } @if(selectedMenuIndex() === 2) {
      <app-mind
        [moodRating]="moodRating()"
        [setMoodRating]="setMoodRating"
        [restDescription]="restDescription()"
        [setRestDescription]="setRestDescription"
        [dayDescription]="dayDescription()"
        [setDayDescription]="setDayDescription"
        [stressLevel]="stressLevel()"
        [setStressLevel]="setStressLevel"
      />
      } @if(selectedMenuIndex() === 3) {
      <app-goals
        [glassesFull]="glassesFull()"
        [setGlassesFull]="setGlassesFull"
        [steps]="steps()"
        [setSteps]="setSteps"
        [sleepTime]="sleepTime()"
        [setSleepTime]="setSleepTime"
        [exerciseDescription]="exerciseDescription()"
        [setExerciseDescription]="setExerciseDescription"
      />
      }
    </div>
  </div>
</section>
