<section>
  <div class="menu">
    <div class="controls">
      <div class="buttons">
        <button
          class="tab-btn {{ selectedMenuIndex() === 1 ? 'active' : '' }}"
          (click)="changeIndex(1)"
        >
          <span class="{{ selectedMenuIndex() === 1 ? ' highlight highlight-1' : '' }}">Body</span>
        </button>
        <button
          class="tab-btn {{ selectedMenuIndex() === 2 ? 'active' : '' }}"
          (click)="changeIndex(2)"
        >
          <span class="{{ selectedMenuIndex() === 2 ? 'highlight highlight-2' : '' }}">Mind</span>
        </button>
        <button
          class="tab-btn {{ selectedMenuIndex() === 3 ? 'active' : '' }}"
          (click)="changeIndex(3)"
        >
          <span class="{{ selectedMenuIndex() === 3 ? ' highlight highlight-3' : '' }}">Goals</span>
        </button>
      </div>
      <p-datepicker
        [(ngModel)]="dateValue"
        [showIcon]="true"
        inputId="buttondisplay"
        [showOnFocus]="true"
      />
    </div>

    <div class="tab">
      @if(selectedMenuIndex() === 1) {
      <app-body
        [glassesFull]="glassesFull()"
        [changeGlassesFull]="changeGlassesFull"
        [steps]="steps()"
        [changeSteps]="changeSteps"
        [sleepTime]="sleepTime()"
        [changeSleepTime]="changeSleepTime"
        [exerciseDescription]="exerciseDescription()"
        [changeExerciseDescription]="changeExerciseDescription"
      />
      } @if(selectedMenuIndex() === 2) {
      <app-mind />
      } @if(selectedMenuIndex() === 3) {
      <app-goals />
      }
    </div>
  </div>
</section>
