<svg
  class="icon"
  width="40px"
  height="40px"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
  <g id="SVGRepo_iconCarrier">
    @if (isFull) {
    <path
      class="glass-water"
      d="M5.76118 7 L7.73343 21 H16.2666 L18.2388 7 Z"
      fill="rgba(0, 100, 255, 0.4)"
      stroke="none"
    ></path>
    } @else {
    <path
      class="glass-water"
      d="M5.76118 7 L7.73343 21 H16.2666 L18.2388 7 Z"
      fill="transparent"
      stroke="none"
    ></path>
    }
    <path
      class="glass-outline-body"
      d="M5.16118 1C3.93844 1 3.00192 2.08747 3.1833 3.29668L5.75555 20.445C5.97584 21.9136 7.23738 23 8.72236 23H15.2776C16.7626 23 18.0241 21.9136 18.2444 20.445L20.8167 3.29668C20.9981 2.08747 20.0615 1 18.8388 1H5.16118Z"
      fill="none"
      stroke="#0F0F0F"
      stroke-width="1.2"
    ></path>
    <path
      class="glass-outline-rim"
      d="M5.16118 3H18.8388L18.2388 7H5.76118L5.16118 3Z"
      fill="transparent"
      stroke="transparent"
    ></path>
  </g>
</svg>
